#home-set {
  display: flex;

  h2 {
    margin-top: 70px;
    padding-right: 50px;
    padding-left: 20px;
  }
}

#logo-pic {
    width: 1000px;
    padding-top: 10px;
    padding-left: 20px;
  }

#concert-pic {
  height: 100%;
  width: 700px;
}

.spotify-icon {
  color: #1ed05e;
}

#spotify-connect {
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 30px;
  border-radius: 30px;
  padding: 20px;
  background-color: white;
  border: 0.5px solid grey;

}
