<div class="filterbox">
  <button class="top green-active" id="top-thing">All</button>
  <button class="play" id="play-thing">Proximity</button>
  <button class="play" id="play-thing">Dates</button>
  <button class="play" id="play-thing">Artist</button>
</div>
