<div class="footer">

  <p>© FINDMYGIG, Inc. Terms  Privacy </p>

  <div>
    <ul class="company">
      <li>Blog</li>
      <li>Status</li>
      <li>Contact Us</li>
      <li>License</i></li>
    </ul>
  </div>

  <div >
    <ul class="social_media">
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-spotify"></i></li>
    </ul>
  </div>

</div>
