<div class="footer">

<div>
  <h2>Company</h2>
   <ul class="company">
    <li>Blog</li>
    <li>Status</li>
    <li>Contact Us</li>
    <li>License</i></li>
  </ul>
  </div>

  <div >
    <h2>Follow us</h2>
  <ul class="social_media">
    <li><i class="fab fa-facebook"></i></li>
    <li><i class="fab fa-instagram"></i></li>
    <li><i class="fab fa-twitter"></i></li>
    <li><i class="fab fa-pinterest"></i></li>
  </ul>
  </div>

</div>

<div>
  <p>Made with ♥ in Berlin </p>
  <%= image_tag "logo.png" %>
</div>
