<% if @playlist_gigs.count == 0 %>

  <div class="no-gigs">

    <div>
    <p>Sorry, there are no scheduled gigs</p>
    <img src="https://memberdata.s3.amazonaws.com/hi/hitsdd/photos/hitsdd_photo_gal__photo_104004346.png" alt="drop the mic">
    </div>

  </div>

<% else %>

  <div class="gigs-container">

    <%= render 'shared/gig-card' %>

  </div>

<% end %>
