

<h5>MY PLAYLISTS</h5>
<ol>
  <% @playlists.each do |playlist| %>
    <li><%= playlist.name %></li>
  <% end %>
</ol>

<h5>MY TOP ARTISTS</h5>
<ol>
  <% @top_artists.each do |artist| %>
    <li><%= artist.name %></li>
  <% end %>
</ol>

