<!-- <div class="tab-content" id="pills-tabContent"> -->

  <!-- <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"> -->
    <div class="side-list">

      <% @playlists.each do |playlist| %>
      <p class="list-side"><%= link_to playlist.name, gigs_path(playlist_id: playlist.id) %></p>
      <% end %>
  <!-- </div> -->

  <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"> -->

      <% @top_artists.each do |artist| %>
        <p class="list-side"><%= artist %></p>
      <% end %>

    </div>
  <!-- </div> -->

<!-- </div> -->
