<div class="side-list">

      <div id="playlist-list" class="show">
      <% @playlists.each do |playlist| %>

      <p class="list-side" id="p-list"><%= link_to playlist.name, gigs_path(playlist_id: playlist.id) %></p>

      <% end %>
      </div>

      <div id="artists-list" class="hide">
      <% @top_artists.each do |artist| %>
        <p class="list-side"><%= link_to artist, gigs_path(artist_name: artist) %></p>
      <% end %>
      </div>

</div>

<!-- 'grey-out' if playlist.gig.present? -->

