

<%# IF the toggle button is set on "Top Artists", a specifi logic should be
applied in order to make the list display le name of the top artists %>

<ol>

  <li><strong>Artist Name</strong> 1.000 plays</li>
  <li><strong>Artist Name</strong> 1.000 plays</li>
  <li><strong>Artist Name</strong> 1.000 plays</li>
  <li><strong>Artist Name</strong> 1.000 plays</li>
  <li><strong>Artist Name</strong> 1.000 plays</li>
  <li><strong>Artist Name</strong> 1.000 plays</li>
  <li><strong>Artist Name</strong> 1.000 plays</li>
  <li><strong>Artist Name</strong> 1.000 plays</li>
  <li><strong>Artist Name</strong> 1.000 plays</li>

</ol>

<%# ELSE the toggle button is set on "Playlists", a specifi logic should be
applied in order to make the list display le name of the playlists %>

<ol>

  <li><strong>Plailist Name</strong> 1.000 plays</li>
  <li><strong>Plailist Name</strong> 1.000 plays</li>
  <li><strong>Plailist Name</strong> 1.000 plays</li>
  <li><strong>Plailist Name</strong> 1.000 plays</li>
  <li><strong>Plailist Name</strong> 1.000 plays</li>
  <li><strong>Plailist Name</strong> 1.000 plays</li>
  <li><strong>Plailist Name</strong> 1.000 plays</li>
  <li><strong>Plailist Name</strong> 1.000 plays</li>
  <li><strong>Plailist Name</strong> 1.000 plays</li>

</ol>
