<div class="side-list">

      <div id="playlist-list" class="show">
      <% @playlists.each do |playlist| %>

      <p class="list-side"><%= link_to playlist.name, gigs_path(playlist_id: playlist.id), id: "p-list"%></p>
      <% end %>
      </div>

      <div id="artists-list" class="hide">
      <% @top_artists.each do |artist| %>
        <p class="list-side"><%= artist %></p>
      <% end %>
      </div>

</div>


<!-- 'grey-out' if playlist.gig.present? -->
