<div class="toggler" id="toggler-thing">

    <button class="top green-active" id="top-thing">My Playlists</button>

    <button class="play" id="play-thing">My Top Artists</button>

</div>


<script>

togglerThing = document.getElementById("toggler-thing");
topThing = document.getElementById("top-thing");
playThing = document.getElementById("play-thing");

togglerThing.addEventListener("click", (event) => {
  topThing.classList.toggle("green-active");
  playThing.classList.toggle("green-active");
})

</script>
