<div class="home-page-container" >
<div class="homepage">
  <div>
    <img class="home-page-image" src="https://images.unsplash.com/photo-1583795484071-3c453e3a7c71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2702&q=80" alt="">
  </div>
  <div class="home-page-content">
    <h1>FINDMYGIG</h1>
    <p><em>The GIG is up</em></p>
  </div>
</div>

  <button id="spotify-connect"><i class="fab fa-spotify" id="spotify-icon"></i> <%= link_to "Connect with Spotify", user_spotify_omniauth_authorize_path %> </button>

</div>


