<div class="home-page-container" >
  <div class="homepage">
    <div class="home-page-content">
      <h1>FINDMYGIG</h1>
      <p><em>The GIG is up</em></p>
    </div>
  </div>

  <button id="spotify-connect"><i class="fab fa-spotify" id="spotify-icon"></i> <%= link_to "Connect with Spotify", user_spotify_omniauth_authorize_path %> </button>

<%=  link_to "*", destroy_user_session_path, method: :delete %>

</div>



