.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  object-fit: cover;
}

#avatar-background {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #2CFA59;
  position: relative;
  margin-left: 20px;
}
