.btn {

position: absolute;
width: 145px;
height: 39px;
left: 674px;
top: 411px;

}

.btn font {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
letter-spacing: -0.017em;

color: #000000;
}
