html,
body {
 min-height: 100vh;
 position: relative;
}

.footer {
  position: absolute;
  bottom: -120px;
  width: 100%;
  display: flex;
  background: white;
  justify-content: space-around;
  align-items: flex-end;
  color: grey;
}

.social_media {
  list-style: none;
}

.company {
  list-style: none
}

