.gigs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: min-content;
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

.no-gigs {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 900px;
  margin-right: 10px;
  margin-top: 10px;
  height: 80vh;
   p {
    position: relative;
    margin-top: 100px;
    text-align: center;
    color: grey;
   }
   img {
    position: absolute;
    filter: grayscale(50%);
    opacity: 0.5;
    left: 55%;
    width: 200px;
   }
}

