.gigs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: min-content;
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.no-gigs {
  display: flex;
  flex-direction: column;
  height: min-content;
  align-items: center;
  width: 900px;
  margin-right: 10px;
  margin-top: 10px;
  height: 80vh;
   p {
    font-family: Bungee Hairline;
    font-weight: bold;
    font-size: 30px;
    margin-top: 100px;
    color: black;
    text-align: center;
   }
   img {
    width: 200px;
   }
}

