.list-side {
  list-style: none;
    a {
      text-decoration: none;
      color: black;
      transition: 0s font-weight;
    }
    a:hover {
      font-weight: bold;
      transition-delay: 50ms;
    }
}

.side-list {
  height: 80vh;
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  overflow-y: scroll;
  width: 300px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
