.list-side {
  list-style: none;
    a, p {
      text-decoration: none;
      color: black;
      transition: 0s font-weight background-color;
      padding: 5px;
    }
    a:hover {
      font-weight: bold;
      transition-delay:50ms;
      background-color: #2CFA59;
    }
  }

.green-stop {
  background-color: #2CFA59 !important;
}

.side-list {
  margin-top: 10px;
  margin-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  overflow-y: scroll;
  width: 300px;
}

.grey-out {
    a {
      color: grey;
    }
}

.hide {
  display: none;
}

.show {
  display: block;
}
