@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-wrapper {
  display: flex;
  align-items: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  z-index: 999;
  animation: 350ms fade;
}


.modal-content {
  z-index: 999;
  max-height: 80vh;
  overflow: auto;
  animation: 500ms slidein;
}

.close-button {
  background-color: white;
  position: absolute;
  top: 6px;
  border: white;
  margin-left: 5px;
  font-size: 18px;
}
