.navbar {
  justify-content: space-between;
  background: white;
  margin-right: 50px;
    a {
      font-family: Bungee Outline;
      font-size: 100px;
      padding-left: 5px;
    }
}

.navbar .navbar-collapse {
  flex-grow: 0;
  display: flex;
}


.navbar .navbar-brand img {
  width: 600px;
}

#user_name {
  padding-top: 20px;
  font-size: 18px;
}

.dropdown-menu a {
    padding-left: 15px;
    font-size: 18px;
    font-family: Roboto;
}

.hi {
  font-size: 18px;
  margin-left: 10px;
  font-weight: lighter;
}

