.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
  display: flex;
}


.navbar .navbar-brand img {
  width: 600px;
}

#user_name {
  padding-top: 20px;
  font-size: 18px;
}

.hi {
  font-size: 18px;
  margin-left: 10px;
  font-weight: lighter;
}
