.toggler {
  display: flex;
  border: 1px solid black;
  width: max-content;
}

.green-active {
  background-color: #2CFA59 !important;
}

.play {
  background-color: white;
  margin: 5px;
  border: 1px solid white;
}

.top {
  background-color: white;
  margin: 5px;
  border: 1px solid white;
}

