.toggler {
  display: flex;
  border: 1px solid grey;
  width: max-content;
  margin-bottom: 10px;
  margin-left: 5px;
}

.green-active {
  background-color: #2CFA59 !important;
}

.play {
  background-color: white;
  margin: 5px;
  border: 1px solid white;
}

.top {
  background-color: white;
  margin: 5px;
  border: 1px solid white;
}

.hide {
  display: none;
}

.show {
  display: block;
}
