<h1>My Gigs</h1>
<ul>
  <% @gigs.each do |gig| %>
    <li><%= link_to gig.artist_name, gig_path(gig) %></li>
    <p><%= gig.date %></p>
    <p><%= gig.venue %></p>
  <% end %>
</ul>

<ul>
  <% @playlists.each do |playlist| %>
    <li><%= playlist.name %></li>
  <% end %>
</ul>

